In [1]:
#import librairie
import pandas as pd
import os

In [2]:
#changement de chemin 
os.chdir("C:/Users/fiacr/Desktop/Projet_deep_covid/Projet_deep_learning_covid/Dataset")

In [3]:
#df1 = pd.read_csv("vacsi-s-a-fra-2023-04-14-17h59.csv", sep=";")

In [4]:
dep = pd.read_csv("sp-dep-heb-2023-04-12-18h01.csv", sep=';')

In [5]:
#Chargement de la donn√©es
reg = pd.read_csv("vacsi-s-a-reg-2023-04-14-17h59.csv", sep =";")

In [6]:
reg_dep = pd.read_csv("departement2020.csv", sep = ',')

In [7]:
reg

,reg,clage_vacsi,jour,n_dose1_h,n_complet_h,n_rappel_h,n_2_rappel_h,n_rappel_biv_h,n_3_rappel_h,n_cum_dose1_h,...,n_cum_rappel_e,n_cum_2_rappel_e,n_cum_rappel_biv_e,n_cum_3_rappel_e,couv_dose1_e,couv_complet_e,couv_rappel_e,couv_2_rappel_e,couv_rappel_biv_e,couv_3_rappel_e
0,1,4,2020-12-27,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4,2020-12-28,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,4,2020-12-29,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,4,2020-12-30,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,4,2020-12-31,0,0,0,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251395,94,0,2023-04-09,0,0,0,0,0,0,114620,...,178617,32824,18993,6087,68.1,67.1,51.1,9.4,5.4,1.7
251396,94,0,2023-04-10,0,0,0,0,0,0,114620,...,178617,32824,18993,6087,68.1,67.1,51.1,9.4,5.4,1.7
251397,94,0,2023-04-11,1,2,0,1,2,2,114621,...,178617,32825,18995,6090,68.1,67.1,51.1,9.4,5.4,1.7
251398,94,0,2023-04-12,0,0,6,0,7,1,114621,...,178624,32826,19006,6093,68.1,67.1,51.1,9.4,5.4,1.7
251399,94,0,2023-04-13,0,0,0,1,4,3,114621,...,178625,32827,19012,6097,68.1,67.1,51.1,9.4,5.4,1.7

In [8]:
#df1

In [9]:
dep

,dep,semaine,pop,P,T,Ti,Tp,Td,cl_age90
0,01,2020-S20,"656955,00","23,00","1407,00","3,50","1,63","214,17",0
1,01,2020-S21,"656955,00","41,00","2322,00","6,24","1,77","353,45",0
2,01,2020-S22,"656955,00","19,00","2187,00","2,89","0,87","332,90",0
3,02,2020-S20,"526050,00","52,00","1380,00","9,88","3,77","262,33",0
4,02,2020-S21,"526050,00","41,00","1311,00","7,79","3,13","249,22",0
...,...,...,...,...,...,...,...,...,...
15802,978,2023-S14,"34070,00","5,00","67,00","14,68","7,46","196,65",0
15803,975,2023-S13,"6008,00","0,00","2,00","0,00","0,00","33,29",0
15804,975,2023-S14,"6008,00","1,00","3,00","16,64","33,33","49,93",0
15805,977,2023-S13,"10123,00","3,00","40,00","29,64","7,50","395,14",0
15806,977,2023-S14,"10123,00","3,00","21,00","29,64","14,29","207,45",0

In [10]:
reg_dep

,dep,reg,cheflieu,tncc,ncc,nccenr,libelle
0,01,84,01053,5.0,AIN,Ain,Ain
1,02,32,02408,5.0,AISNE,Aisne,Aisne
2,03,84,03190,5.0,ALLIER,Allier,Allier
3,04,93,04070,4.0,ALPES DE HAUTE PROVENCE,Alpes-de-Haute-Provence,Alpes-de-Haute-Provence
4,05,93,05061,4.0,HAUTES ALPES,Hautes-Alpes,Hautes-Alpes
...,...,...,...,...,...,...,...
99,974,4,97411,0.0,LA REUNION,La R√©union,La R√©union
100,976,6,97608,0.0,MAYOTTE,Mayotte,Mayotte
101,977,7,NaN,NaN,NaN,NaN,NaN
102,978,8,NaN,NaN,NaN,NaN,NaN
103,975,5,NaN,NaN,NaN,NaN,NaN

In [11]:
dic_df3 = dict(zip(reg_dep['dep'],reg_dep['reg']))

In [12]:
dic_df3

{'01': 84,
 '02': 32,
 '03': 84,
 '04': 93,
 '05': 93,
 '06': 93,
 '07': 84,
 '08': 44,
 '09': 76,
 '10': 44,
 '11': 76,
 '12': 76,
 '13': 93,
 '14': 28,
 '15': 84,
 '16': 75,
 '17': 75,
 '18': 24,
 '19': 75,
 '21': 27,
 '22': 53,
 '23': 75,
 '24': 75,
 '25': 27,
 '26': 84,
 '27': 28,
 '28': 24,
 '29': 53,
 '2A': 94,
 '2B': 94,
 '30': 76,
 '31': 76,
 '32': 76,
 '33': 75,
 '34': 76,
 '35': 53,
 '36': 24,
 '37': 24,
 '38': 84,
 '39': 27,
 '40': 75,
 '41': 24,
 '42': 84,
 '43': 84,
 '44': 52,
 '45': 24,
 '46': 76,
 '47': 75,
 '48': 76,
 '49': 52,
 '50': 28,
 '51': 44,
 '52': 44,
 '53': 52,
 '54': 44,
 '55': 44,
 '56': 53,
 '57': 44,
 '58': 27,
 '59': 32,
 '60': 32,
 '61': 28,
 '62': 32,
 '63': 84,
 '64': 75,
 '65': 76,
 '66': 76,
 '67': 44,
 '68': 44,
 '69': 84,
 '70': 27,
 '71': 27,
 '72': 52,
 '73': 84,
 '74': 84,
 '75': 11,
 '76': 28,
 '77': 11,
 '78': 11,
 '79': 75,
 '80': 32,
 '81': 76,
 '82': 76,
 '83': 93,
 '84': 93,
 '85': 52,
 '86': 75,
 '87': 75,
 '88': 44,
 '89': 27,
 '90': 27,
 '91': 11,
 '92': 11,
 '93': 11,
 '94': 11,
 '95': 11,
 '971': 1,
 '972': 2,
 '973': 3,
 '974': 4,
 '976': 6,
 '977': 7,
 '978': 8,
 '975': 5}

In [13]:
dep1 = dep.copy()

In [14]:
dep1

,dep,semaine,pop,P,T,Ti,Tp,Td,cl_age90
0,01,2020-S20,"656955,00","23,00","1407,00","3,50","1,63","214,17",0
1,01,2020-S21,"656955,00","41,00","2322,00","6,24","1,77","353,45",0
2,01,2020-S22,"656955,00","19,00","2187,00","2,89","0,87","332,90",0
3,02,2020-S20,"526050,00","52,00","1380,00","9,88","3,77","262,33",0
4,02,2020-S21,"526050,00","41,00","1311,00","7,79","3,13","249,22",0
...,...,...,...,...,...,...,...,...,...
15802,978,2023-S14,"34070,00","5,00","67,00","14,68","7,46","196,65",0
15803,975,2023-S13,"6008,00","0,00","2,00","0,00","0,00","33,29",0
15804,975,2023-S14,"6008,00","1,00","3,00","16,64","33,33","49,93",0
15805,977,2023-S13,"10123,00","3,00","40,00","29,64","7,50","395,14",0
15806,977,2023-S14,"10123,00","3,00","21,00","29,64","14,29","207,45",0

In [15]:
dep["reg"] = dep["dep"].apply(lambda x :dic_df3[x] )

In [16]:
dep

,dep,semaine,pop,P,T,Ti,Tp,Td,cl_age90,reg
0,01,2020-S20,"656955,00","23,00","1407,00","3,50","1,63","214,17",0,84
1,01,2020-S21,"656955,00","41,00","2322,00","6,24","1,77","353,45",0,84
2,01,2020-S22,"656955,00","19,00","2187,00","2,89","0,87","332,90",0,84
3,02,2020-S20,"526050,00","52,00","1380,00","9,88","3,77","262,33",0,32
4,02,2020-S21,"526050,00","41,00","1311,00","7,79","3,13","249,22",0,32
...,...,...,...,...,...,...,...,...,...,...
15802,978,2023-S14,"34070,00","5,00","67,00","14,68","7,46","196,65",0,8
15803,975,2023-S13,"6008,00","0,00","2,00","0,00","0,00","33,29",0,5
15804,975,2023-S14,"6008,00","1,00","3,00","16,64","33,33","49,93",0,5
15805,977,2023-S13,"10123,00","3,00","40,00","29,64","7,50","395,14",0,7
15806,977,2023-S14,"10123,00","3,00","21,00","29,64","14,29","207,45",0,7